{% extends "shop/checkout.html" %}

{% load i18n multipayment_forms %}


{% block before-form %}
	{% multipayment_forms request form as multipayment_forms %}
	{% if multipayment_forms %}
		<ul id="secondary-payment">
			{% for name,form in multipayment_forms %}<li id="{{ name|slugify }}">
				<form method="post" action="{{ form.action }}">
					{{ form.as_p }}
					<input type="submit" value="{% trans name %}" class="btn btn-large">
				</form>
			</li>{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block fields %}
	{% if request.cart.has_items %}
		{% include "shop/includes/payment_fields.html" %}
		{% if PRIMARY_PAYMENT_PROCESSOR_IN_USE %}
			{{ form.other_fields.as_ul }}
		{% endif %}
	{% endif %}
{% endblock %}


{% block nav-buttons %}
	{% if request.cart.has_items %}
		<div class="form-actions clearfix">
			<div class="form-actions-wrap">
			{% if PRIMARY_PAYMENT_PROCESSOR_IN_USE %}
				<input type="submit" class="btn btn-large btn-primary" value="{% trans "Next" %}">
			{% endif %}
			{% if not CHECKOUT_STEP_FIRST %}
				<input type="submit" class="btn btn-large" name="back" value="{% trans "Back" %}">
			{% endif %}
			</div>
		</div>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}