{% extends "shop/checkout.html" %}

{% load i18n multipayment_forms %}


{% block before-form %}
	{% multipayment_forms request form as multipayment_forms %}
	{% if multipayment_forms %}
		<ul id="secondary-payment">
			{% for name,form in multipayment_forms %}<li id="{{ name|slugify }}">
				<form method="post" action="{{ form.action }}">
					{{ form.as_p }}
					<input type="submit" value="{% trans name %}" class="btn btn-large">
				</form>
			</li>{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block fields %}
	{% if request.cart.has_items %}
		{% include "shop/includes/payment_fields.html" %}
		{% if PRIMARY_PAYMENT_PROCESSOR_IN_USE %}
			{{ form.other_fields.as_ul }}
		{% endif %}
	{% endif %}
{% endblock %}